In [ ]:
# Importing Libraries 
import unidecode 
import pandas as pd 
import re 
import time 
import nltk 
import nltk.corpus 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
from autocorrect import Speller 
from bs4 import BeautifulSoup 
from nltk.corpus import stopwords 
from nltk import word_tokenize 
import string 
#https://towardsdatascience.com/cleaning-preprocessing-text-data-by-building-nlp-pipeline-853148add68a

In [17]:
!pip install nltk
!pip install unidecode
!pip install bs4
!pip install autocorrect

Requirement already satisfied: nltk in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (3.7)
Requirement already satisfied: click in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (1.1.0)
Requirement already satisfied: unidecode in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (1.3.4)
Collecting bs4
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Using legacy 'setup.py install' for bs4, since package 'wheel' is not installed.
Installing collected packages: bs4
  Running setup.py install for bs4 ... done
Successfully installed bs4-0.0.1
Collecting autocorrect
  Downloading autocorrect-2.6.1.tar.gz (622 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 622.8/622.8 kB 246.0 kB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Using legacy 'setup.py install' for autocorrect, since package 'wheel' is not installed.
Installing collected packages: autocorrect
  Running setup.py install for autocorrect ... done
Successfully installed autocorrect-2.6.1

In [43]:
#Read Dataset 
df = pd.read_csv('raw_data/Test.csv')
# Show Dataset
df.head()

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2  This movie was so poorly written and directed ...      0
3  The most interesting thing about Miryang (Secr...      1
4  when i first read about "berlin am meer" i did...      0

In [44]:
def remove_newlines_tabs(text):
    """
    This function will remove all the occurrences of newlines, tabs, and combinations like: \\n, \\.
    
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" after removal of newlines, tabs, \\n, \\ characters.
        
    Example:
    Input : This is her \\ first day at this place.\n Please,\t Be nice to her.\\n
    Output : This is her first day at this place. Please, Be nice to her. 
    
    """
    
    # Replacing all the occurrences of \n,\\n,\t,\\ with a space.
    Formatted_text = text.replace('\\n', ' ').replace('\n', ' ').replace('\t',' ').replace('\\', ' ').replace('. com', '.com')
    return Formatted_text

In [45]:
text = df.text

In [52]:
df["clean_text"]= None

In [46]:
clean_text=remove_newlines_tabs(text)

In [47]:
def remove_whitespace(text):
    """ This function will remove 
        extra whitespaces from the text
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" after extra whitespaces removed .
        
    Example:
    Input : How   are   you   doing   ?
    Output : How are you doing ?     
        
    """
    pattern = re.compile(r'\s+') 
    Without_whitespace = re.sub(pattern, ' ', text)
    # There are some instances where there is no space after '?' & ')', 
    # So I am replacing these with one space so that It will not consider two words as one token.
    text = Without_whitespace.replace('?', ' ? ').replace(')', ') ')
    return text

In [65]:
# Code for accented characters removal
def accented_characters_removal(text):
    # this is a docstring
    """
    The function will remove accented characters from the 
    text contained within the Dataset.
       
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" with removed accented characters.
        
    Example:
    Input : Málaga, àéêöhello
    Output : Malaga, aeeohello    
        
    """
    # Remove accented characters from text using unidecode.
    # Unidecode() - It takes unicode data & tries to represent it to ASCII characters. 
    text = unidecode.unidecode(text)
    return text

In [67]:
def lower_casing_text(text):
    
    """
    The function will convert text into lower case.
    
    arguments:
         input_text: "text" of type "String".
         
    return:
         value: text in lowercase
         
    Example:
    Input : The World is Full of Surprises!
    Output : the world is full of surprises!
    
    """
    # Convert text to lower case
    # lower() - It converts all upperase letter of given string to lowercase.
    text = text.lower()
    return text

In [68]:

for i in range(5):
    text = df.iloc[i]["text"]
    text = accented_characters_removal(text)
    text = lower_casing_text(text)
    # print(text)
    text=remove_newlines_tabs(text)
    text=remove_whitespace(text)
    df["clean_text"].iloc[i]= text
    

df

/var/folders/74/zq1vl5mj4518hvqv44mrtkd80000gn/T/ipykernel_71720/1731691925.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["clean_text"].iloc[i]= text

,text,label,clean_text
0,I always wrote this series off as being a comp...,0,i always wrote this series off as being a comp...
1,1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...,0,1st watched 12/7/2002 - 3 out of 10(dir-steve ...
2,This movie was so poorly written and directed ...,0,this movie was so poorly written and directed ...
3,The most interesting thing about Miryang (Secr...,1,the most interesting thing about miryang (secr...
4,"when i first read about ""berlin am meer"" i did...",0,"when i first read about ""berlin am meer"" i did..."
...,...,...,...
4995,This is the kind of picture John Lassiter woul...,1,None
4996,A MUST SEE! I saw WHIPPED at a press screening...,1,None
4997,NBC should be ashamed. I wouldn't allow my chi...,0,None
4998,This movie is a clumsy mishmash of various gho...,0,None
4999,Formula movie about the illegitimate son of a ...,0,None

'I always wrote this series off as being a complete stink-fest because Jim Belushi was involved in it, and heavily. But then one day a tragic happenstance occurred. After a White Sox game ended I realized that the remote was all the way on the other side of the room somehow. Now I could have just gotten up and walked across the room to get the remote, or even to the TV to turn the channel. But then why not just get up and walk across the country to watch TV in another state? "Nuts to that", I said. So I decided to just hang tight on the couch and take whatever Fate had in store for me. What Fate had in store was an episode of this show, an episode about which I remember very little except that I had once again made a very broad, general sweeping blanket judgment based on zero objective or experiential evidence with nothing whatsoever to back my opinions up with, and once again I was completely right! This show is a total crud-pie! Belushi has all the comedic delivery of a hairy lighthouse foghorn. The women are physically attractive but too Stepford-is to elicit any real feeling from the viewer. There is absolutely no reason to stop yourself from running down to the local TV station with a can of gasoline and a flamethrower and sending every copy of this mutt howling back to hell. <br /><br />Except.. <br /><br />Except for the wonderful comic sty lings of Larry Joe Campbell, America\'s Greatest Comic Character Actor. This guy plays Belushi\'s brother-in-law, Andy, and he is gold. How good is he really? Well, aside from being funny, his job is to make Belushi look good. That\'s like trying to make butt warts look good. But Campbell pulls it off with style. Someone should invent a Nobel Prize in Comic Buffoonery so he can win it every year. Without Larry Joe this show would consist of a slightly vacant looking Courtney Thorne-Smith smacking Belushi over the head with a frying pan while he alternately beats his chest and plays with the straw on the floor of his cage. 5 stars for Larry Joe Campbell designated Comedic Bacon because he improves the flavor of everything he\'s in!'