In [83]:
# Importing Libraries 
import unidecode 
import pandas as pd 
import re 
import time 
import nltk 
import nltk.corpus 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
from autocorrect import Speller 
from bs4 import BeautifulSoup 
from nltk.corpus import stopwords 
from nltk import word_tokenize 
import string 
#https://towardsdatascience.com/cleaning-preprocessing-text-data-by-building-nlp-pipeline-853148add68a

In [84]:
!pip install nltk
!pip install unidecode
!pip install bs4
!pip install autocorrect

Requirement already satisfied: nltk in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from nltk) (1.1.0)
Requirement already satisfied: unidecode in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: bs4 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: autocorrect in /Users/pornpanthongdee/.pyenv/versions/3.8.13/envs/menu_me/lib/python3.8/site-packages (2.6.1)

In [85]:
#Read Dataset 
df = pd.read_csv('raw_data/Test.csv')
# Show Dataset
df.head()

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2  This movie was so poorly written and directed ...      0
3  The most interesting thing about Miryang (Secr...      1
4  when i first read about "berlin am meer" i did...      0

In [86]:
def remove_newlines_tabs(text):
    """
    This function will remove all the occurrences of newlines, tabs, and combinations like: \\n, \\.
    
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" after removal of newlines, tabs, \\n, \\ characters.
        
    Example:
    Input : This is her \\ first day at this place.\n Please,\t Be nice to her.\\n
    Output : This is her first day at this place. Please, Be nice to her. 
    
    """
    
    # Replacing all the occurrences of \n,\\n,\t,\\ with a space.
    Formatted_text = text.replace('\\n', ' ').replace('\n', ' ').replace('\t',' ').replace('\\', ' ').replace('. com', '.com')
    return Formatted_text

In [87]:
text = df.text

In [88]:
df["clean_text"]= None

In [89]:
clean_text=remove_newlines_tabs(text)

In [90]:
def remove_whitespace(text):
    """ This function will remove 
        extra whitespaces from the text
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" after extra whitespaces removed .
        
    Example:
    Input : How   are   you   doing   ?
    Output : How are you doing ?     
        
    """
    pattern = re.compile(r'\s+') 
    Without_whitespace = re.sub(pattern, ' ', text)
    # There are some instances where there is no space after '?' & ')', 
    # So I am replacing these with one space so that It will not consider two words as one token.
    text = Without_whitespace.replace('?', ' ? ').replace(')', ') ')
    return text

In [91]:
# Code for accented characters removal
def accented_characters_removal(text):
    # this is a docstring
    """
    The function will remove accented characters from the 
    text contained within the Dataset.
       
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" with removed accented characters.
        
    Example:
    Input : Málaga, àéêöhello
    Output : Malaga, aeeohello    
        
    """
    # Remove accented characters from text using unidecode.
    # Unidecode() - It takes unicode data & tries to represent it to ASCII characters. 
    text = unidecode.unidecode(text)
    return text

In [92]:
def lower_casing_text(text):
    
    """
    The function will convert text into lower case.
    
    arguments:
         input_text: "text" of type "String".
         
    return:
         value: text in lowercase
         
    Example:
    Input : The World is Full of Surprises!
    Output : the world is full of surprises!
    
    """
    # Convert text to lower case
    # lower() - It converts all upperase letter of given string to lowercase.
    text = text.lower()
    return text

In [93]:
def remove_whitespace(text):
    """ This function will remove 
        extra whitespaces from the text
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" after extra whitespaces removed .
        
    Example:
    Input : How   are   you   doing   ?
    Output : How are you doing ?     
        
    """
    pattern = re.compile(r'\s+') 
    Without_whitespace = re.sub(pattern, ' ', text)
    # There are some instances where there is no space after '?' & ')', 
    # So I am replacing these with one space so that It will not consider two words as one token.
    text = Without_whitespace.replace('?', ' ? ').replace(')', ') ')
    return text

In [94]:
# Code for accented characters removal
def accented_characters_removal(text):
    # this is a docstring
    """
    The function will remove accented characters from the 
    text contained within the Dataset.
       
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" with removed accented characters.
        
    Example:
    Input : Málaga, àéêöhello
    Output : Malaga, aeeohello    
        
    """
    # Remove accented characters from text using unidecode.
    # Unidecode() - It takes unicode data & tries to represent it to ASCII characters. 
    text = unidecode.unidecode(text)
    return text

In [95]:
# Code for removing repeated characters and punctuations

def reducing_incorrect_character_repeatation(text):
    """
    This Function will reduce repeatition to two characters 
    for alphabets and to one character for punctuations.
    
    arguments:
         input_text: "text" of type "String".
         
    return:
        value: Finally formatted text with alphabets repeating to 
        two characters & punctuations limited to one repeatition 
        
    Example:
    Input : Realllllllllyyyyy,        Greeeeaaaatttt   !!!!?....;;;;:)
    Output : Reallyy, Greeaatt !?.;:)
    
    """
    # Pattern matching for all case alphabets
    Pattern_alpha = re.compile(r"([A-Za-z])\1{1,}", re.DOTALL)
    
    # Limiting all the  repeatation to two characters.
    Formatted_text = Pattern_alpha.sub(r"\1\1", text) 
    
    # Pattern matching for all the punctuations that can occur
    Pattern_Punct = re.compile(r'([.,/#!$%^&*?;:{}=_`~()+-])\1{1,}')
    
    # Limiting punctuations in previously formatted string to only one.
    Combined_Formatted = Pattern_Punct.sub(r'\1', Formatted_text)
    
    # The below statement is replacing repeatation of spaces that occur more than two times with that of one occurrence.
    Final_Formatted = re.sub(' {2,}',' ', Combined_Formatted)
    return Final_Formatted

In [100]:
# The code for removing special characters
def removing_special_characters(text):
    """Removing all the special characters except the one that is passed within 
       the regex to match, as they have imp meaning in the text provided.
   
    
    arguments:
         input_text: "text" of type "String".
         
    return:
        value: Text with removed special characters that don't require.
        
    Example: 
    Input : Hello, K-a-j-a-l. Thi*s is $100.05 : the payment that you will recieve! (Is this okay?) 
    Output :  Hello, Kajal. This is $100.05 : the payment that you will recieve! Is this okay?
    
   """
    # The formatted text after removing not necessary punctuations.
    Formatted_Text = re.sub(r"[^a-zA-Z0-9:$-,%.?!]+", ' ', text) 
    # In the above regex expression,I am providing necessary set of punctuations that are frequent in this particular dataset.
    return Formatted_Text

In [101]:
# Formatted_Text = re.sub(r"[^a-zA-Z:$-,%.?!]+", ' ', text)

In [102]:
# The code for spelling corrections
def spelling_correction(text):
    ''' 
    This function will correct spellings.
    
    arguments:
         input_text: "text" of type "String".
         
    return:
        value: Text after corrected spellings.
        
    Example: 
    Input : This is Oberois from Dlhi who came heree to studdy.
    Output : This is Oberoi from Delhi who came here to study.
      
    
    '''
    # Check for spellings in English language
    spell = Speller(lang='en')
    Corrected_text = spell(text)
    return Corrected_text

In [103]:

for i in range(5):
    text = df.iloc[i]["text"]
    text = accented_characters_removal(text)
    text = lower_casing_text(text)
    text = remove_whitespace(text)
    text = accented_characters_removal(text)
    text = reducing_incorrect_character_repeatation(text)
    text = removing_special_characters(text)
    text = spelling_correction(text)
    
    # print(text)
    text=remove_newlines_tabs(text)
    text=remove_whitespace(text)
    df["clean_text"].iloc[i]= text
    

df

/var/folders/74/zq1vl5mj4518hvqv44mrtkd80000gn/T/ipykernel_71720/3166018634.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["clean_text"].iloc[i]= text

,text,label,clean_text
0,I always wrote this series off as being a comp...,0,i always wrote this series off as being a comp...
1,1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...,0,1st watched 12 7 2002 3 out of 10(dir steve pu...
2,This movie was so poorly written and directed ...,0,this movie was so poorly written and directed ...
3,The most interesting thing about Miryang (Secr...,1,the most interesting thing about miryang (secr...
4,"when i first read about ""berlin am meer"" i did...",0,when i first read about berlin am meer i didn'...
...,...,...,...
4995,This is the kind of picture John Lassiter woul...,1,None
4996,A MUST SEE! I saw WHIPPED at a press screening...,1,None
4997,NBC should be ashamed. I wouldn't allow my chi...,0,None
4998,This movie is a clumsy mishmash of various gho...,0,None
4999,Formula movie about the illegitimate son of a ...,0,None